{% extends "base.html" %}

{% block content %}
<h1>Change Password for {{ user.username }}</h1>
<div class="card">
    <div class="card-body">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", size=32) }}
                {% for error in form.password.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control", size=32) }}
                {% for error in form.password2.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
    </div>
</div>
{% endblock %} 